# General Panel Configuration
PANEL_FIFO=/tmp/bspwm-bar
PANEL_FONT_FAMILY="-*-termsyn.icons-medium-*-*-*-11-*-*-*-*-*-*-*"
BARHEIGHT=16
EDGEWIDTH=5
UNDERLINE_WIDTH=1

# Don't touch.  Edit width/height above instead.
SCREENHEIGHT=$(xrandr -q | grep Screen | awk '{print $10}' | sed s/,//)
SCREENWIDTH=$(xrandr -q | grep Screen | awk '{print $8}')
BARWIDTH=$(($SCREENWIDTH - $(($EDGEWIDTH * 2))))

# Base Colors
BLACK="272822"
RED="A70334"
GREEN="74AA04"
YELLOW="B6B649"
BLUE="01549E"
MAGENTA="89569C"
CYAN="1A83A6"
WHITE="CACACA"

# Bold Colors
BOLD_BLACK="7C7C7C"
BOLD_RED="F3044B"
BOLD_GREEN="8DD006"
BOLD_YELLOW="CCCC81"
BOLD_BLUE="0383F5"
BOLD_MAGENTA="A87DB8"
BOLD_CYAN="58C2E5"
BOLD_WHITE="FFFFFF"

# Color Assignments
FOREGROUND="#FFCACACA"
BACKGROUND="#C9191A14"

ACTIVE_MONITOR_FG="#FF$BLACK"
ACTIVE_MONITOR_BG="#FF$BOLD_BLUE"
INACTIVE_MONITOR_FG="#FF$BOLD_BLUE"
INACTIVE_MONITOR_BG="$BACKGROUND"
FOCUSED_OCCUPIED_FG="#FF$BOLD_WHITE"
FOCUSED_OCCUPIED_BG="$BACKGROUND"
FOCUSED_OCCUPIED_UL="#FF$RED"
FOCUSED_FREE_FG="#FF$BOLD_WHITE"
FOCUSED_FREE_BG="$BACKGROUND"
FOCUSED_FREE_UL="$BACKGROUND"
FOCUSED_URGENT_FG="#FF$RED"
FOCUSED_URGENT_BG="$BACKGROUND"
FOCUSED_URGENT_UL="#FF$RED"
OCCUPIED_FG="#FF$WHITE"
OCCUPIED_BG="$BACKGROUND"
OCCUPIED_UL="#FF$RED"
FREE_FG="#FF$WHITE"
FREE_BG="$BACKGROUND"
URGENT_FG="#FF$RED"
URGENT_BG="$BACKGROUND"
URGENT_UL="#FF$RED"
LAYOUT_FG="#FF$WHITE"
LAYOUT_BG="$BACKGROUND"

# WiFi signal strength settings
WIFI_GOOD="#FF$BOLD_GREEN"
WIFI_FAIR="#FF$BOLD_YELLOW"
WIFI_POOR="#FF$BOLD_RED"

# Date and Time settings
DATE_TIME_FG="#FF$CYAN"

# Source network device settings
. $(dirname $0)/netdev.cfg

# vi:syntax=sh
